@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

/* Apply the font to specific elements or globally */
body {
  font-family: "Courgette", cursive;
}

.container {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
  }
  
  .moving-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: moveUp 200s linear infinite;
  }
  
  @keyframes moveUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
